.slider h3,
.slider h5,
.clients {
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    /* untuk bayangan text */
}

.parallax-container {
    height: 20%;
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.48 !important;
}

.clients img {
    margin-bottom: 25px;
    max-width: 150px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
    /* untuk bayangan gambar */
}

section,
footer {
    padding-bottom: 20px;
    padding-top: 20px;
}

.test {
    margin-bottom: 30px;
}

footer a {
    color: white
}